{{ 'metaobject-slider.css' |   asset_url |  stylesheet_tag }}
<script src="{{ 'metaobject-slider.js' | asset_url }}" defer></script>

{% assign product_handle = section.settings.product %}
{% assign product = all_products[product_handle] %}

<h1>{{ product.title }}</h1>

{% assign list_products = product.metafields.custom.related_products_with_banner.value %}

{% if list_products %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

<div class="swiper">
  <div class="swiper-wrapper">
    
    {% for products in list_products %}
        {% assign banner = products.file %}
        {% assign product_b_handle = products.product %}
        {% assign product_b = all_products[product_b_handle] %}

        <div class="swiper-slide">
            <img src="{{banner |  image_url: width:"300" }}" alt="banner" width="200px" height="auto">
            <a href="{{product_b.url}}"><h2>{{product_b.title}}</h2></a>
    
        </div>
    {% endfor %}
  </div>
 
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>


{% endif %}


{%  schema  %}  
    {
        "name":"Metaobject slider",
        "settings":[{
            "type": "product",
            "id": "product",
            "label": "Product"
        }],
        "presets":[

        ]

    }
{% endschema %} 